<div class="search-point">
  <ng-container *ngIf="items.length">
      <mat-form-field appearance="fill">
          <mat-label>Поиск объекта</mat-label>
          <input type="text"
                 matInput
                 [formControl]="pointControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
                  {{ item.name }}
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>
  </ng-container>
  <div class="route-buttons">
      <button mat-raised-button color="primary" [disabled]="!pointControl.value" (click)="addPointToRoute()">Добавить в маршрут</button>
      <button *ngIf="isAdmin()" mat-raised-button color="primary" [disabled]="currentPoints.length < 2" (click)="onSaveRoute()">Сохранить маршрут</button>
  </div>
</div>
<div class="points-list">
</div>
<mat-list>
  <ng-container *ngFor="let point of currentPoints; let i = index">
      <mat-list-item class="item">
          <div class="content" style="flex: 1;">
              <h5 matListItemTitle class="item__title">{{ point.name }}</h5>
          </div>
          <button mat-icon-button (click)="deletePointFromRoute(point.id)" aria-label="Удалить">
              <mat-icon>delete</mat-icon>
          </button>
      </mat-list-item>
  </ng-container>
</mat-list>
