:host {
    background-color: var(--base-green-dark-color);
    padding: 20px;
}

.item {
    display: block;
    padding: 10px 15px;
    background-color: var(--new-green-dark-color);
    border-radius: 3px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: var(--new-green-dark-color);
        opacity: 0.7;
        color: #fff;
        .item__control-button {
            visibility: visible;
        }
    }

    ::ng-deep {
        .mdc-list-item__content {
            display: block;
        }

        .mat-mdc-list-item-unscoped-content {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 48px;
        }
    }

    &__title {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        text-align: left;
        color: #fff !important;
        &:hover {
            color: #fff !important;
        }
    }

    &__description {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        color: var(--sub-black-color);
    }

    &__control-button {
        visibility: hidden;
    }
}

::ng-deep .mat-mdc-icon-button {
    color: #fff !important;
}

.search-point {
    ::ng-deep {
        mat-form-field {
            width: 100%;
        }
    }
}

.route-buttons {
    button {
        margin-right: 10px;
    }
}

/* Добавлено для оформления информации о маршруте */
.route-info {
    margin-top: 20px; /* Опускаем блок с маршрутом */
}

.info-box {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 10px; /* Расстояние между строками (иконка + текст) */
}

.route-stat {
    display: flex;
    align-items: center; /* Центрирование иконки и текста по вертикали */
    margin-bottom: 10px; /* Дополнительное пространство между элементами */
    color: #fff !important;
    font-size: 14px;
    margin-left: 10px;
}

.route-stat mat-icon {
    margin-right: 10px; /* Отступ между иконкой и текстом */
}
