<div class="search-route">
    <mat-form-field class="form-field">
        <mat-label>Поиск маршрута</mat-label>
        <input type="text" matInput [formControl]="searchControl"/>
    </mat-form-field>
</div>
<mat-list>
    <ng-container *ngFor="let route of routes; let i = index">
        <mat-list-item class="item" (contextmenu)="openContextMenu($event, i)">
            <div class="content" (click)="cancelContextMenu($event)">
                <h5 matListItemTitle class="item__title">{{ route.name }}</h5>
            </div>
            <div [matMenuTriggerFor]="menu"></div>
            
             <mat-menu #menu="matMenu" #matMenu>
                <button mat-menu-item (click)="onShowRoute(route)">
                  <mat-icon>visibility</mat-icon>
                  <span>Отобразить на карте</span>
                </button>
              </mat-menu>
             
        </mat-list-item>
    </ng-container>
</mat-list>