<h4 class="modal-title">{{ data.name }}</h4>
<div class="wrapper">
  <div *ngIf="imagePaths.length" class="galery">
    <a class="arrow-prev" (click)="togglePrevPhoto($event)">
        <img src="../../assets/img/arrow_left_white.png" alt="Вперед" width="32" height="32">
    </a>
    <div class="active-image">
        <img [src]="getPath(imagePaths[activeImageIndex])" alt="Изображение геопарка" width="700" height="370">
    </div>
    <a class="arrow-next" (click)="toggleNextPhoto($event)">
        <img src="../../assets/img/arrow_right_white.png" alt="Назад" width="32" height="32">
    </a>
</div>
  <ul class="modal-list">
    <li class="modal-item">
        <span class="modal-item-key">Координаты:</span>
        {{ data.latitude }}, &nbsp;
        {{ data.longitude }}
    </li>
    <li class="modal-item">
        <span class="modal-item-key">Категория:</span>
        {{ data.commonType }}
    </li>
    <li class="modal-item" *ngIf="data.description">
        <span class="modal-item-key">Описание:</span>
        {{ data.description }}
    </li>
  </ul>
</div>
<div class="modal-buttons">
  <button mat-raised-button (click)="close()" color="warn">Закрыть</button>
</div>
