.df {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-s {
    justify-content: flex-start;
}

.al-s {
    justify-content: flex-start;
}

.al-c {
    align-items: center;
}

.db {
    display: block;
}

