:root {
    --base-purple-color: #673ab7;
    --base-font-color: #f5f5f5;
    --black-color: #000000;
    --white-color: #ffffff;
    --dark-grey-color: #494949;
    --sub-black-color: #303030;
    --base-green-light-color: #D6EAD8;
    --base-green-dark-color: #305C3F;
    --base-green-color: #5B956C;
    --base-green-middle-color: #A6CDAB;
    --base-beige-color: #F2EDE4;
    --new-green-color: #00713C;
    --new-dark-green-color: #003B28;
}