@import url('https://fonts.googleapis.com/css?family=Roboto');
.name_obj{
  color: #303030;
  //margin-top: 50px;
  padding-top: 50px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 28px;

}
