:host {
    display: flex;
    height: 100%;

}

.geopark-title {
    margin: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}

.sidebar {
    width: 30%;
    height: 100%;
    background-color: var(--new-dark-green-color);
}

.spinner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: flex-start;
}

.add-button {
    &.mat-mdc-raised-button:not(:disabled) {
        background-color: var(--base-green-dark-color);
    }
}

.route-button {
    margin-right: 20px;
    &.mat-mdc-raised-button:not(:disabled) {
        background-color: var(--base-green-dark-color);
    }
}

.existing-route {
    &.mat-mdc-raised-button:not(:disabled) {
        background-color: var(--base-green-dark-color);
    }
}

.search {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--new-dark-green-color);
    ::ng-deep {
        mat-form-field {
            width: 100%;
        }
    }
}