<ng-container *ngIf="(model$ | async) as model; else spinner">
    <ng-container *ngIf="model.state$ | async as state; else spinner">
        <div class="sidebar">
            <ng-container *ngIf="state === 'SUCCESS'">
                <h4 class="geopark-title">{{ model.geopark?.name }}</h4>
            </ng-container>
            
            <div class="search">
                <mat-form-field>
                    <mat-label>Поиск</mat-label>
                    <input matInput placeholder="Поиск геообъектов" [formControl]="searchControl">
                </mat-form-field>
                <div class="buttons-wrapper">
                    <button class="route-button" mat-raised-button color="primary" (click)="navigateToRoutes()">Построить маршрут</button>
                    <button class="existing-route" mat-raised-button color="primary" (click)="navigateToSystemRoutes()">Маршруты по геопарку</button>
                <div *ngIf="isAdmin">
                    <button class="add-button" mat-raised-button color="primary" (click)="moveToCreateObject()">Добавить геообъект</button>
                </div>
              </div>   
            </div>
            <ng-container *ngIf="state === 'SUCCESS'">
                <geo-main-view-manager [items]="model.points" [isAdmin]="isAdmin" [search]="searchControl.value || ''" (setView)="onSetMapView($event)" (editObject)="onEditObject($event)">
                </geo-main-view-manager>
            </ng-container>
        </div>
        <geo-main-view-map [setView$]="setView$" [setSearch$]="setSearch$" [points]="model.rawPoints" [geopark]="model.geopark">
        </geo-main-view-map>
        <ng-container *ngIf="state === 'PENDING'">
            <ng-container *ngTemplateOutlet="spinner"></ng-container>
        </ng-container>
    </ng-container>
</ng-container>

<ng-template #spinner>
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
