:host {
    display: flex;
    height: 100%;
}

.geopark-title {
    margin: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}

.sidebar {
    width: 30%;
    height: 100%;
    background-color: var(--new-dark-green-color);
    display: flex;
    flex-direction: column;
}

.spinner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.route-button {
    margin-right: 20px;
    &.mat-mdc-raised-button:not(:disabled) {
        background-color: var(--base-green-dark-color);
    }
}

.existing-route {
    &.mat-mdc-raised-button:not(:disabled) {
        background-color: var(--base-green-dark-color);
    }
}

.admin-buttons {
    margin-bottom: 15px;
}

.add-button {
    width: 100%;
    &.mat-mdc-raised-button:not(:disabled) {
        background-color: var(--base-green-dark-color);
    }
}

.search {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--new-dark-green-color);
    ::ng-deep {
        mat-form-field {
            width: 100%;
        }
    }
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.add-marker-footer {
    padding: 15px;
    background-color: var(--new-dark-green-color);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: auto; /* Это прижмет кнопку к низу */
    
    .add-marker-button {
        width: 100%;
        &.mat-mdc-raised-button:not(:disabled) {
            background-color: var(--base-green-dark-color);
        }
    }
}
