.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    background-color: var(--new-green-color);
    &__title {
        font-family: 'Monserat', Arial, sans-serif;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        font-size: 28px;
        line-height: 36px;
        padding-top: 4px;
        padding-left: 10px;
    }
}
.auth-banner {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__username {
        margin: 0;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
    }
}
.page-header__link {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logout-button {
    color: #fff;
    &.mat-mdc-button {
        color: #fff;
    }

}
.login-button {
    font-size: 16px;
    line-height: 18px;
    &.mat-mdc-button:not(:disabled) {
        color: #fff;
    }
}