:host {
    background-color: var(--base-green-light-color);
    display: block;
    height: 100%;
    padding-top: 15px;
    overflow: hidden;
}

.manager-wrapper {
    height: 100%;
}

.manager-list {
    height: calc(100% - 190px);
    overflow-y: auto;
}

.item {
    display: block;
    padding: 10px 15px;
    background-color: var(--base-green-middle-color);
    border-radius: 3px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: var(--base-green-color);
        .item__control-button {
            visibility: visible;
        }
    }

    ::ng-deep {
        .mdc-list-item__content {
            display: block;
        }

        .mat-mdc-list-item-unscoped-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 48px;
        }
    }
    &__title {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: var(--sub-black-color);
    }

    &__description {
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        color: var(--sub-black-color);
    }

    &__control-button {
        visibility: hidden;
    }
}