:host {
    display: block;
}
.map {
    width: 100%;
    height: 1000px;
}

.map-wrapper {
    background-color: var(--base-beige-color);
    padding: 0 20px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.geoparks-intro {
    background-color: var(--base-beige-color);
    padding: 50px 25px;
    &__title {
        margin: 0;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'Monserat',  Arial, sans-serif;
        font-size: 28px;
        line-height: 30px;
        color: var(--new-green-color);
        font-weight: 700;
        text-transform: uppercase;
    }
}

.intro-content {
   &-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
   }

   &-galery {
      width: 750px;
      min-height: 450px;
      background-color: var(--new-dark-green-color);
      box-sizing: border-box;
      border-radius: 8px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow-prev {
        position: absolute;
        top: calc(50% - 32px);
        left: 5px;
        cursor: pointer;
      }

      .arrow-next {
        position: absolute;
        top: calc(50% - 32px);
        right: 5px;
        cursor: pointer;
      }
   }

   &-definition {
      min-height: 450px;
      padding: 20px 15px 20px 15px;
      width: 400px;
      background-color: #fff;
      box-sizing: border-box;
      border-radius: 8px;
      margin-right: 20px;
      &__text {
        margin: 0;
        color: var(--new-green-color);
        font-size: 16px;
        line-height: 20px;
        &-main {
            font-size: 20px;
            line-height: 22px;
            font-weight: 700;
        }
      }
   }
}

.select {
    background-color: var(--base-beige-color);
    padding-bottom: 30px;
    &-title {
        color: var(--new-green-color);
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        margin: 0;
        padding-bottom: 40px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
    }

    .select-item {
        width: 570px;
        height: 370px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        padding: 15px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-family: 'Monserat',  Arial, sans-serif;
        color: #fff;

        &-link {
            cursor: pointer;
        }

        &-action {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
        }

        &-title {
            font-size: 36px;
            line-height: 40px;
            font-weight: 700;
        }

        &-description {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
        }



        &--left {
            background-image: url('../../assets/img/424689e3266131a6648d94fa64ca7eb6.png');
            margin-right: 15px;
            text-align: left;
        }

        &--right {
            background-image: url('../../assets//img/e91b0d26b17a9c87421a26c24e01274e.png');
            text-align: right;
        }


    }
}